.criacoes {
    padding-top: 3rem;
    text-align: center;
}

.criacoes__titulo {    
    font-family: var(--fonte-subtitulos);
    font-size: 2.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
}

.criacoes__produtos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1.75rem;
    padding-top: 1.75rem;
    height: calc(120px * 8);
    width: 100%;
    padding-bottom: 2.5rem;
}


.criacoes__banner:nth-child(1) {
    background: url(../images/mobile/image-deep-earth.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

.criacoes__banner:nth-child(2) {
    background: url(../images/mobile/image-night-arcade.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

.criacoes__banner:nth-child(3) {
    background: url(../images/mobile/image-soccer-team.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 3 / 4;
}

.criacoes__banner:nth-child(4) {
    background: url(../images/mobile/image-grid.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 4 / 5;
}

.criacoes__banner:nth-child(5) {
    background: url(../images/mobile/image-from-above.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 5 / 6;
}

.criacoes__banner:nth-child(6) {
    background: url(../images/mobile/image-pocket-borealis.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 6 / 7;
}

.criacoes__banner:nth-child(7) {
    background: url(../images/mobile/image-curiosity.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 7 / 8;
}

.criacoes__banner:nth-child(8) {
    background: url(../images/mobile/image-fisheye.jpg) center / cover no-repeat;
    grid-column: 1 / 1;
    grid-row: 8 / 9;
}

.caixa {
    align-items: flex-end;
    display: flex;
    text-align: left;
}

.criacoes__subtitulo {
    color: var(--branco);
    font-family: var(--fonte-subtitulos);
    font-size: 2rem;
    padding: 0 0 1rem 1rem;
}

.criacoes__link {
    border: 1px solid black;
    color: var(--preto);
    font-family: var(--fonte-subtitulos);
    font-size: 1.75rem;
    padding: 0.5rem 2.5rem;
    text-align: center;
}

.criacoes__link:hover {
    color: hsl(228, 45%, 44%);
    border: 2px solid hsl(228, 45%, 44%);
    text-decoration: underline 2px;
}

@media screen and (min-width:768px) {
    .criacoes__produtos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 1.75rem;
        height: calc(150px * 4);
    }

    .criacoes__banner:nth-child(2) {
        background: url(../images/mobile/image-night-arcade.jpg) center / cover no-repeat;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .criacoes__banner:nth-child(3) {
        background: url(../images/mobile/image-soccer-team.jpg) center / cover no-repeat;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    .criacoes__banner:nth-child(4) {
        background: url(../images/mobile/image-grid.jpg) center / cover no-repeat;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    .criacoes__banner:nth-child(5) {
        background: url(../images/mobile/image-from-above.jpg) center / cover no-repeat;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    
    .criacoes__banner:nth-child(6) {
        background: url(../images/mobile/image-pocket-borealis.jpg) center / cover no-repeat;
        grid-column: 2 / 2;
        grid-row:  3 / 3;
    }
    
    .criacoes__banner:nth-child(7) {
        background: url(../images/mobile/image-curiosity.jpg) center / cover no-repeat;
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .criacoes__banner:nth-child(8) {
        background: url(../images/mobile/image-fisheye.jpg) center / cover no-repeat;
        grid-column: 2 / 2;
        grid-row: 4 / 4;
    }
}

@media screen and (min-width: 1024px) {
    .criacoes {
        padding-top: 8rem;
    }

    .criacoes__titulo {
        font-size: 5rem;
    }

    .criacoes__produtos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: calc(450px * 2);
        width: calc(250px *4);
        padding-top: 3rem;
        padding-bottom: 4rem;
        margin: 0 auto;
    }
    .criacoes__banner:nth-child(1) {
        background: url(../images/desktop/image-deep-earth.jpg);
    }

    .criacoes__banner:nth-child(2) {
        background: url(../images/desktop/image-night-arcade.jpg);
    }

    .criacoes__banner:nth-child(3) {
        background: url(../images/desktop/image-soccer-team.jpg);
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    
    .criacoes__banner:nth-child(4) {
        background: url(../images/desktop/image-grid.jpg);
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    .criacoes__banner:nth-child(5) {
        background: url(../images/desktop/image-from-above.jpg);
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    .criacoes__banner:nth-child(6) {
        background: url(../images/desktop/image-pocket-borealis.jpg);
        grid-column: 2 / 2;
        grid-row:  2 / 2;
    }
    
    .criacoes__banner:nth-child(7) {
        background: url(../images/desktop/image-curiosity.jpg);
        grid-column: 3 / 3;
        grid-row: 2 / 2;
    }
    
    .criacoes__banner:nth-child(8) {
        background: url(../images/desktop/image-fisheye.jpg);
        grid-column: 4 / 4;
        grid-row: 2 / 2;
    }

    .criacoes__link {
        font-size: 3rem;
    }
}